<!DOCTYPE html>
<html ng-app="Lab_4">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script type="text/javascript" src="code.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Lab 4</title>
</head>

<body>
    <header>
        <h1>Лаб 4</h1>
    </header>
    <main>
        <div class='col-1' ng-controller='buyController as buC'>
            <h2>Купити</h2>
            <div ng-if="buC.toBuyProducts.length == 0">
                Все куплено
            </div>
            <div class='lst'>
                <div class="elem">
                    <div ng-repeat="product in buC.toBuyProducts">
                        Купити {{product.quantity}} {{product.name}}
                    </div>
                </div>                
                <div class="elem">
                    <div ng-repeat="product in buC.toBuyProducts">
                        <button ng-click="buC.addBoughtProduct($index)">Купити</button>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-2' ng-controller='boughtController as boC'>
            <h2>Куплено</h2>
            <div ng-if="boC.boughtProducts.length == 0">
                Ще нічого не куплено
            </div>
            <div class='lst'>
                <div class="elem">
                    <div ng-repeat="product in boC.boughtProducts">
                        Куплено {{product.quantity}} {{product.name}}
                    </div>
                </div>                
            </div>
        </div>
    </main>
</body>

</html>
