body{
  margin:0;
  padding:0;	
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.col-1{
  margin-left: 25%;
  text-align: left;
	float:left;
  
}

.col-2{
  margin-right: 25%;
  text-align: left;
	float: right;
}

.lst{
  width: max-content;
}

.elem{
  margin-left: 5px;
  width:max-content;
	float: left;

}

.elem div{
  height: 30px;
}

